<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Aler Template">
    <meta name="keywords" content="Aler, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aler | Each Category</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/styledButton.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Wrapper Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <span class="icon_close"></span>
        </div>
        <div class="logo">
            <a href="./index.html">
                <img src="img/logo.png" alt="">
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="om-widget">
            <ul>
                <li><i class="icon_mail_alt"></i> Aler.support@gmail.com</li>
                <li><i class="fa fa-mobile-phone"></i> 125-711-811 <span>125-668-886</span></li>
            </ul>
            <a href="#" class="hw-btn">Submit property</a>
        </div>
        <div class="om-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Wrapper End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="hs-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="ht-widget">
                            <ul>
                                <li><i class="icon_mail_alt"></i>samuaeladnew@gmail.com</li>
                                <li><i class="fa fa-mobile-phone"></i> 125-711-811 <span>125-668-886</span></li>
                            </ul>
                            <!-- <a href="#" class="hw-btn">Submit property</a> -->
                        </div>
                    </div>
                </div>
                <div class="canvas-open">
                    <span class="icon_menu"></span>
                </div>
            </div>
        </div>
     
    
    <!-- Contact Section End -->
    <section>


<script>
    function addTrainee(){
        var elem = document.getElementById("addingTrainee");
        if (elem.style.display=="none"){
            elem.setAttribute("style" , "display:block;");
            
        }else {
            elem.setAttribute("style" , "display:none;");
        }
    }
    </script>
            <!-- Add Student Category Begin -->
    <div class="row"  onclick="addTrainee()">
        <div class="col-lg-8 col-md-8">
            <div class="section-title">
                <h4> Students :</h4>
            </div>
        </div>
    </div>
    <div class="container" >
        <table >
            <tr >
            <th >Full name</th><th >Sex</th><th >Age</th><th >ACadamical Status</th><th >Lang</th><th >Category</th><th >City</th><th>Kebele</th><th>PhoneNo : </th><th>Section : </th></tr>
            <tr><td>samuael adnew</td><td>M</td><td>21</td><td>Under Graduate </td><td>Amharic</td><td>Bajaj</td><td>Assosa</td><td>04</td><td>0993238923</td><td>Class 1</td></tr>
            <tr><td>samuael adnew</td><td>M</td><td>21</td><td>Under Graduate </td><td>Amharic</td><td>Bajaj</td><td>Assosa</td><td>04</td><td>0993238923</td><td>Class 1</td></tr>
            <tr><td>samuael adnew</td><td>M</td><td>21</td><td>Under Graduate </td><td>Amharic</td><td>Bajaj</td><td>Assosa</td><td>04</td><td>0993238923</td><td>Class 1</td></tr>
            <tr><td>samuael adnew</td><td>M</td><td>21</td><td>Under Graduate </td><td>Amharic</td><td>Bajaj</td><td>Assosa</td><td>04</td><td>0993238923</td><td>Class 1</td></tr>
            <tr><td>samuael adnew</td><td>M</td><td>21</td><td>Under Graduate </td><td>Amharic</td><td>Bajaj</td><td>Assosa</td><td>04</td><td>0993238923</td><td>Class 1</td></tr>
            <tr><td>samuael adnew</td><td>M</td><td>21</td><td>Under Graduate </td><td>Amharic</td><td>Bajaj</td><td>Assosa</td><td>04</td><td>0993238923</td><td>Class 1</td></tr>
            <tr><td>samuael adnew</td><td>M</td><td>21</td><td>Under Graduate </td><td>Amharic</td><td>Bajaj</td><td>Assosa</td><td>04</td><td>0993238923</td><td>Class 1</td></tr>
            <tr><td>samuael adnew</td><td>M</td><td>21</td><td>Under Graduate </td><td>Amharic</td><td>Bajaj</td><td>Assosa</td><td>04</td><td>0993238923</td><td>Class 1</td></tr>
            <tr><td>samuael adnew</td><td>M</td><td>21</td><td>Under Graduate </td><td>Amharic</td><td>Bajaj</td><td>Assosa</td><td>04</td><td>0993238923</td><td>Class 1</td></tr>
            <tr><td>samuael adnew</td><td>M</td><td>21</td><td>Under Graduate </td><td>Amharic</td><td>Bajaj</td><td>Assosa</td><td>04</td><td>0993238923</td><td>Class 1</td></tr>
            <tr><td>samuael adnew</td><td>M</td><td>21</td><td>Under Graduate </td><td>Amharic</td><td>Bajaj</td><td>Assosa</td><td>04</td><td>0993238923</td><td>Class 1</td></tr>
        </table>
    </div>
    <!-- Add Student End  -->

        <script>
            var newClassmate = "newClassmate";
            var newfieldTrainer = "newfieldTrainer";
            function showMore( id ){
                var elem = document.getElementById(id );
                if (elem.style.display=="none"){
                    elem.setAttribute("style" , "display:block");
                }else {
                    elem.setAttribute("style" , "display:none");
                }
            }
        </script>

    <div class="row"  onclick="showMore(newClassmate)">
        <div class="col-lg-8 col-md-8">
            <div class="section-title">
                <h4>Add New Student </h4>
            </div>
        </div>
    </div>

   <div class="container" id="newClassmate" style="display:none ; transition: ease-in-out;transition-delay: 500ms; "  >
        <form action=""  method="POST">
        <div >
            <label>Full Name </label>
            <br>
            <input type="text" placeholder="full name" name="fullname" >
            <br>

            <label>Sex</label>
            <br>
            <select name="sex" id="sex">
                <option
                value="M" >
                Male
                </option>
                <option
                value="F" >
                Female
                </option>

            </select>
            <br>
            <br>

            <label > Age :</label>
            <br>
            <input type="number" name="age" placeholder="age">
            <br>
            <label>Academic Status </label>
            <br>
            <input type="text"  name="status" placeholder="Academic Status" ><br>
            <label>
                Language
            </label>
            <br>
            <select id="Language" name="language" >
                <option value="AMH">
                    Amharic
                </option>
                <option value="AMH">
                    Oromifa
                </option>
                <option value="AMH">
                    English
                </option>
            </select>
            <br>
             <br>
            <label>Category</label>
            <br>
            <select  name="category" id="category" >
                <option value="0">
                    Bajaj
                </option>

                <option value="1">
                    Motor
                </option>
                <option value="2">
                    Hizb-1
                </option>
            </select>
            <br>    
            <br>
            <label>City</label>
            <br>

            <input type="text" placeholder="City" name="City"   > 
            <br>
            <br>
            <label>Kebele</label>
            <br>

            <input type="text" placeholder="Kebele" name="Kebele" > 
            <br>
            <label>
                Phone No:
            </label>
            <br>
            <input  type="number"  placeholder="Phone Number">
            <br>
            <br>
            <select name="section" >
                <option value="section1">
                    section 1
                </option>
                <option value="section2">
                    section 2
                </option>
                <option value="section3">
                    section 3
                </option>
                <option value="section4">
                    section 4
                </option>
            </select>
            <br>
            <a onclick="" type="submit" class="styledButton" > <strong><i>Add</i><strong> </a>
<br>
<br>

        </div> 
    </form>

    </div>
    <!-- <div class="container" id="newClassmate" style="display: none;" >
        <div class="row">
            <div class="col-12 ts-social"  >
                <input class="inputo" type="text" placeholder="Full Name" id="fullname">
                <br>

                <input class="inputo" type="number" placeholder="Vehicle Id " id="vehicleid">
                <br>

                <input class="inputo" type="number" placeholder="PhoneNo" id="phoneno">
                <br>
                <select name="category">
                    <option value="Bajaj">
                        Bajaj
                    </option>
                    <option value="hizb1">
                        Hizb-1
                    </option>
                    <option value="motor">
                        Motor
                    </option>
                    
                </select>
                <br>
                <br>
                <br>
                <br>
                <a href="#"  onclick="" id="addAdmin" class="styledButton"> Add Admin </a>
                <hr>

            </div>
        </div>
    </div> -->


    
    <style>
        .inputo {
            padding: 10px;
            border-color: #006699;
            border-radius: 5%;
            margin-bottom: 20px;
        }
    </style>
     <script>
        function addAdmins(){
            console.log("addAdmin Function");
            var element = document.getElementById("adminNewInput");
            if(element.style.display=="none"){
                element.setAttribute("style" , "display:block");
            }else {
                element.setAttribute("style" , "display:none");
            }
        }
    </script>
    <div onclick="addAdmins()" class="row">
        <div onclick="addAdmins()" class="col-lg-8 col-md-8">
            <div onclick="addAdmins()" class="section-title">
                <h4>Field Trainer </h4>
            </div>
        </div>
    </div>

    <div class="container">
        <table >
            <tr >
            <th >Full name</th><th >Vehicle Id </th> <th >Category</th><th>PhoneNo : </th></tr>
            <tr><td>samuael adnew</td><td>481478(03)</td><td>Bajaj</td><td>0993238923</td></tr>
            <tr><td>samuael adnew</td><td>483247(03)</td><td>Bajaj</td><td>0993238923</td></tr>
            <tr><td>samuael adnew</td><td>483478(03)</td><td>Bajaj</td><td>0993238923</td></tr>
            <tr><td>samuael adnew</td><td>483784(03)</td><td>Bajaj</td><td>0993238923</td></tr>
            <tr><td>samuael adnew</td><td>483478(03)</td><td>Bajaj</td><td>0993238923</td></tr>
            <tr><td>samuael adnew</td><td>483478(03)</td><td>Bajaj</td><td>0993238923</td></tr>
            <tr><td>samuael adnew</td><td>483478(03)</td><td>Bajaj</td><td>0993238923</td></tr>
            <tr><td>samuael adnew</td><td>483478(03)</td><td>Bajaj</td><td>0993238923</td></tr>
            <tr><td>samuael adnew</td><td>483478(03)</td><td>Bajaj</td><td>0993238923</td></tr>
            <tr><td>samuael adnew</td><td>483478(03)</td><td>Bajaj</td><td>0993238923</td></tr>
            <tr><td>samuael adnew</td><td>483478(03)</td><td>Bajaj</td><td>0993238923</td></tr>
        </table>
    </div>
    <div onclick="showMore(newfieldTrainer)" class="row">
        <div onclick="addAdmins()" class="col-lg-8 col-md-8">
            <div onclick="addAdmins()" class="section-title">
                <h4>Add Field Trainer </h4>
            </div>
        </div>
    </div>

    <div class="container" id="newfieldTrainer" style="display: block;" >
        <div class="row">
            <div class="col-12 ts-social"  >
                <input class="inputo" type="text" placeholder="Full Name" id="fullname">
                <br>

                <input class="inputo" type="number" placeholder="Vehicle Id " id="vehicleid">
                <br>

                <input class="inputo" type="number" placeholder="PhoneNo" id="phoneno">
                <br>
                <select name="category">
                    <option value="Bajaj">
                        Bajaj
                    </option>
                    <option value="hizb1">
                        Hizb-1
                    </option>
                    <option value="motor">
                        Motor
                    </option>
                    
                </select>
                <br>
                <br>
                <br>
                <br>
                <a href="#"  onclick="" id="addAdmin" class="styledButton"> Send </a>
                <hr>

            </div>
        </div>
    </div>

    

    

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="fs-about">
                        <div class="fs-logo">
                            <a href="#">
                                <img src="img/f-logo.png" alt="">
                            </a>
                        </div>
                        <p>Shambel Vehicle Training Institute !<br><ins>WebSite Developer Samuael Adnew <br><strong>samuaeladnew@gmail.com</strong></ins></p>
                        <div class="fs-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="copyright-text">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.richtext.min.js"></script>
    <script src="js/image-uploader.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>