<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{{.StatusCode }} Drivers Training System </title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

	<link rel="stylesheet" href="{{.Host }}css/four04.css">
</head>

<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1  style="color: #444444;">Oops!</h1>
			</div>
			<h2>{{.StatusCode }} - {{.Statustext}} </h2>
			<p><strong>The page you are looking for ({{.Path }}) is unavailable.</strong></p>
			<a href="{{.Host}}login">Go To Login Page </a>
		</div>
	</div>

</body>

</html>
