{{define "navigation"}}

<div class="hs-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <nav class="nav-menu">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./agents.html">Chart</a></li>
                        <li><a href="./about.html">Schedule</a></li>
                        <li><a href="./blog.html">Learning</a></li>
                        <li class="active"><a href="./blog.html">Registration</a></li>
                        <li><a href="./blog.html">Lectures</a></li>
                        <li><a href="./contact.html">Field Mans</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{{end }}