<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="{{.Host}}css/bootstrap.min.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-3">
                <img  style="border-radius: 50%;width:100px;height: 100px" src="{{.Host}}{{.Branch.Logourl}}" alt="The Logo Paht of the Branch ">
                </div>
                <div class="col-9">
                    <div    style="vertical-align: baseline;">
                        <h4><strong > {{.Branch.BranchFullnameAmharic}} </strong></h4>
                        <h4><strong > {{.Branch.BranchFullnameEnglish}} </strong></h4>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <hr>   
        <style>
            .manText{
                font-size: 18px;
            }
        </style>
        {{if .Success }}
        <pre class="manText"  style="border: 1px solid oldlace; " >
        <!-- ሻምበል የአሽከርካሪዎች ማሰልጠኛ ተቋም  አሶሳ -->
    <h2   style="text-align: center;">የሰልጣኝ መብትና ግዴታ  </h2>
    1. ሰልጣኙ ለመሰልጠን ተቋሙ የተሰጠውን የዕውቅና ማስረጃ የመጠየቅና የማግኘት መብት አለው 
    2. ሰልጣኝ ለስልጠና ምዝገባ ሲቀርብ 10 ባለ 3 4 cm ጉርድ ፎቶ ግራፍ 
        ለታክሲ አንድ 2 ኮፒ የ8ኛ ክፍል፣ 
        ለህዝብ አንድ 2 ኮፒ የ10ኛ ክፍል 
        የት/ርት    ማስረጃ እና ኦርጅናል 2 ኮፒ የታደሰ የቀበሌ መታወቂያ ለሚመዘገብበት የስልጠና ዘርፍ 
        ግማሽ ክፍያ መመዝገቢያ 200 ብር ቅድመ ሁኔታዎች ማሟላት አለበት፡፡
    3. ስልጠናው በሚጀመርበት ጊዜ አንድ ቀን እስከሚቀረው ድረስ ሰልጣኝ በመመዝገብና መጽሐፍ መታወቂያ
         የስልጠና ፕሮግራምና ስልጠናን መከታተያ ቅፅ ለማግኘት ይችላል ፡፡
    4. ሰልጣኝ ቢሮ በሚያዋጣው የስልጠና ካላንደር መሰረት ለስልጠናው መውጫ ስዓትን በማክበር 
        የምዝገባ የሰልጠናና የምዘና አገልግሎት ማጠናቀቅ አለበት፡፡
    5. ሰልጣኝ ከስልጠና እስከ ብቃት ማረጋገጫ ፈቃድ ማግኘት ድረስ ባለው ሂደት 
        ማንነቱን የማያረጋግጠውን የስልጠኝ ማረጋገጫ ካርድ ሲጠይቅ ማሳየት አለበት ፡፡
    6. ሰልጣኝ ከስልጠና እስከ ብቃት ማረጋገጫ ፈቃድ ማግኘት ድረስ ባለው ሂደት ቅሬታ ቢኖረው 
        ለሚመለከተው አካል ቅሬታን ማቅረብ መብቱ ነው ፡፡
    7. ሰልጣኝ የጹሑፍ ፈተና ከተጀመረ ከ15 ደቂቃ በኋላ ቢደርስ አይፈተንም፡፡
    8. ሰልጣኝ በመፈተኛ ቦታ ከፈታኙ የሚሰጠውን ፈተና መግለጫ ማክበር የሚገባውን ስነ-ስርዓት ማዳመጥና መተግበር አለበት፡፡
    9. በሚሰጠው ፈተና የማለፊያ ነጥቦች ማግኘት ያልቻለ ሰልጣኝ ዝቅተኛ ውጤት ባስመዘገባቸው የስልጠና ዘርፎች 
        የማሟያ ስልጠና በመከታተል በተደጋጋሚ መፈተን ይችላል 
    10. ሰልጣኝ መንጃ ፈቃድ ማግኘት የሚችለው ለፈተናው ማለፊያ የተቀመጡትን ነጥቦች ሲያገኝ /ሲያስመዘግብ/ ብቻ ነው  
    11. ሰልጣኝ በምረቃ በዓል ላይ የተዘጋጀለትን መንጃ ፈቃድ ከመውሰዱ በፊት 
        የተሰጠውን የሰልጣን መታወቂያ ካርዱ  አስቀድሞ ማስረከብ አለበት ፡፡
    12. ሰልጣኝ ከአቅም በላይ በሆነ ምክንያት ስልጠናውን ቢያቋርጥ ለስልጠና የከፈለውን ገንዘብ ሳይመለስ 
        በአንድ አመት ጊዜ ውስጥ እንደገና ስልጠናውን መጀመር ይችላል ፡፡
    13. ሰልጣኝ የክፍልና የመስክ ስልጠና መከታተያና መቆጣጠሪያ  ቅፅ የማግኘት እና 
        አፈፃጸሙን አስመልክቶ ስለ ትክክለኛነቱ ከአሰልጣኙ ጋር  በጣምራ በፊርማ የማረጋገጥ መብት አለው፡፡
    14. ሰልጠኝ በምዝገባ ወቅት ለተቋሙ የትምህርት ፈተናና የመንጃ ፈቃድ አገልግሎት ዋጋ ገቢ ማድረግ አለበት 
    15. ሰልጣኝ በአማረኛ ቋንቋ ነው ስልጠናውን የሚከታተለው
    16. ቅድሚያ ክፍያ 50% ሲሆን ቀሪ ክፍያ ስልጠና ጀምሮ በአንድ ወር ውስጥ ያጠናቅቃል
    17. ሰልጣኙ በራሱ ጊዜ ለቀረባቸው ቀናት ተቋሙ የማካካስ ግዴታ የለበትም 
    18. የተጭበረበረ የትምህርት ማስረጃ ያቀረበ ሰልጣኝ ለሚደርስበት ችግር ማሰልጠኛ ተቋም ተጠያቂ አይሆንም 
    19. በአንድ ዙር ማለትም ሦስቴ ተፈትኖ የወደቀ ሰልጣኝ ለሚቀጥለው ዙር የሚቀጥል ከሆነ ግማሽ ክፍያ ከፍሎ ይቀጥላል፡፡ 
    
    የሰልጣኙ ስም <strong style="text-decoration: underline;" >{{.Student.Firstname}} {{.Student.Lastname}} {{.Student.GrandFatherName}}</strong> ፊርማ _______________ ቀን <strong style="text-decoration: underline;"  >{{ GetDate 0 }} </strong>			
        </pre>	 
        {{else }}
        <h1 style="text-align: center;vertical-align: center ; text-shadow: 2px 2px 2px ;font-weight: bold;" >  {{.Message }}  </h1>
        {{end}}
    </body>
</html>