<!DOCTYPE HTML >
<html>
    <head>
        <head >
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="{{.Host}}css/bootstrap.min.css" type="text/css">
        </head>
        <body>
        <div class="container">
            <div class="row">
                <div class="col-3">
                <img  style="border-radius: 50%;width:100px;height: 100px" src="{{.Host}}{{.Branch.Logourl}}" alt="The Logo Paht of the Branch ">
                </div>
                <div class="col-9">
                    <div    style="vertical-align: baseline;">
                        <h4><strong > {{.Branch.BranchFullnameAmharic}} </strong></h4>
                        <h4><strong > {{.Branch.BranchFullnameEnglish}} </strong></h4>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <hr>         

    <div class="container">
        <pre>
    ሻምበል የአሽከርካሪዎች ማሰልጠኛ ተቋም
    የ		  አሶሳ		      ዞን 		አሶሳ		  ሆስፒታል/ጤና ጣቢያ
    የአሽከርካሪዎች የጤንነት ምርመራ ውጤት
    DRIVERES PHSICAL EXAMINATION REPORT
    ቁጥር SHA		  /		                  No 					
    ለ አሶሳ ሆስፒታል                                To 					
    መስሪያ ቤት ሻምበል የአሽ/ማሰ ተቋም               AGRENCE				
    ከተማ አሶሳ                                      CITY					
    ክልል ቤ.ጉ / 06                                 REGION					
    ስም/አቶ/ወ/ት/ሮ			   	የተባሉት
    አመልካች የ		 ምድብ የአሽከከርካሪ ብቃት       this is to certify that 			 an  
    ማረጋገጫ ሰርትፍኬት ላማውጣት ምርመራ            Applicant for 			ride         
    እንዲደረግላቸው ባመለከቱት መስረት ባለሞተር        Operator’s license has been examined on
    የተሸከርካሪ ያለ አደጋ ለመንዳት መቻላቸውን          The following particulars to determine his
    ለማወቅ የሚከተሉት ምርመራዎች መደረጋቸውን       Ability to operator a motor vehicle safely 
    አረጋግጣለሁ፡፡                                  
        1. የአይን ምርመራ                               1. VISION TEST
      ብሌን					                Pupils 					
    ሀ. የቀኝ ዓይን				               A. Right eye 				
    ለ. የግራ ዓይን				               B. Lefty eye				
    ሐ. ቀለም መለየት ችሎታ 		              C. color perception
    ቀይ					                Red 				
    አረንጓዴ				                Amber 				 	 
    ቢጫ					                Yellow 				
        2. የርቀት መገመት ችሎት		            2. DISTANCE				
    ሀ. የቀኝ ዓይን				               Right eye 				
    ለ. የግራ ዓይን				               Left eye				
        3. የጆሮ ምርመራ                                  3. HEARING TESET
    ሀ. የቀኝ ጆሮ 				               Sound perception
    ለ. ግራ ጆሮ				                Right Ear 			 
                                                        		      Left Ear 				            
            3.1 ሌሎች የሰውነት ጤንነት ምርመራ             3.1 OTHER PHYSICAL EXAMINATION             
    ሀ. 					              A 					
    ለ. 					              B 					
    ሐ. 					              C 					
    መ. 				              D.					
    ሠ. 					              E.					
            
            
            
            
            
            
            
            
            
            
            
            
       4. የሚጥል በሽታ                             4. Epilepsy               
    ሀ. የህክምና ክትትል ላይ የሚገኝ                  on regular medical follow up		
    ለ. የህክምና ክትትል የሌለው                      no medical follow up		 
    5. የስኳር በሽታ                              5. Diabetes Mellitus
    መደበኛ የህክምና ክትትል የሌለው የስኳር           on no regular medical follow up		           
    በሽታ በታብሌት የሚታከም                           
    6. የደም ግፊት                               6. Hypertension                    
    ሀ. በመደበኛ የህክምና ክትትል ላይ የሚገኝ          on no regular medical follow up
    ለ. የህክምና ክትትል የሌለው  
    7. የታወቀ የልብ ህመም                        7. Known cardiac illness
    ሀ. በህክምና ክትትል ላይ የሚገኝ                   on treatment 			
    ለ. የህክምና ክትትል የሌለው                       on no treatment 		
    ሐ. ላብራቶሪ ውጤት                           
    ሀ. 						         A. 						
            
    ለ. 						         B. 											
    ሐ. 						         C. 												
    መ. 						         D. 												
    ሠ. 						         E. 						
            
    አመልካች የሚከተለው ሊደረግለት ይችላል            Recommend that said applicant (check 
    አንደኛው ላይ ምልክት በማድረግ ይሞላል             and complete)
    1ኛ. የአሽከርካሪ ብቃት                             be granted operator’s license with the                       
    2ኛ. የሚከተሉት ወሰኖችና ወይም ገፃች የተደረገበት 
    የመንጃፍቃድሰርተፍኬት 				      be granted operator’s license with 
    3ኛ. የአሽከርካሪ ብቃት ማረጋገጫ ሰርትፍኬት         the following restriction or conditions
    ይከልከል                                          be refused an operator’s license   
    ቀን				ዓ.ም			      done on this 		 day of 	20	
    የሀኪም ሰም						      Name of medical officer		
    ፊርማ 						      Signature				 						

       
        </pre>
    </div>


     <div  style="margin: 30px;padding:30px;box-shadow:3px 3px 3px ;  color: #006699;font-weight: bold;font-family: sans-serif;" 
     class="container">
         <h2>
             {{.Message }}
         </h2>
     </div>
    </body>
</html>


